---
layout: default
---
<!-- Main -->
	<div id="main">
		<div id="content" class="container">
			<div class="row">
				<section class="12u">
					<header>
						<h2>{{ page.title }}</h2>
					</header>
					<p class="posted">Posted on {{ page.date | date: '%B %d, %Y' }} - <a href="{{ site.url }}{{ page.url }}#disqus_thread"></a></p>
					{{ content }}

					<div id="disqus_thread"></div>
					<script>
					var disqus_config = function () {
						this.page.url = "{{ site.url }}{{ page.url }}";
					};
					(function() {
						var d = document, s = d.createElement('script');

						s.src = '//scorelabblog.disqus.com/embed.js';

						s.setAttribute('data-timestamp', +new Date());
						(d.head || d.body).appendChild(s);
					})();
					</script>
					<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
				</section>
			</div>
		</div>
	</div>

	<!-- code for comment count -->
	<script id="dsq-count-scr" src="//scorelabblog.disqus.com/count.js" async></script>
